* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  /* background-color: #d2e2ff; */
  z-index: 1;
}

h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  color: purple;
}
