.ticket {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: fit-content;
  padding: 0.5rem 2rem 2rem;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  background-color: rgb(219, 189, 246);
  /* box-shadow: 1px 1px 4px 5px #ccc; */
  /* box-shadow: -2px -2px 8px 5px rgb(20, 20, 20); */
}
.ticket-content,
.ticket-title {
  width: 20rem;
  word-wrap: break-word;
}

.ticket-title {
  padding: 2rem 0 0;
  font-size: 1.5em;
}

.ticket-content {
  font-size: 1.2em;
}

.ticket-labels {
  position: relative;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0.7rem 0 0.6rem;
}

.label {
  white-space: nowrap;
  border-radius: 0.2rem;
  padding: 0.2rem;
  font-weight: 700;
  font-size: 0.8rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  box-shadow: 0 0 15px -3px rgb(0 0 0 / 29%);
}

.Corvid {
  background-color: gray;
}

.Api {
  background-color: lightblue;
}

.Guidelines {
  background-color: lightgreen;
}

.Problem {
  background-color: tomato;
}

.Login {
  background-color: lightcoral;
}

.Tutorial {
  background-color: cyan;
}

.View.Count {
  background-color: cornflowerblue;
}

.Collapse {
  background-color: pink;
}
.Expand {
  background-color: plum;
}

/* tickets are hidden by default */
.hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* what to do when a ticket change? */
/* .shown {
} */

#show {
  font-weight: 700;
  font-size: 1.1em;
}
#footer {
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
}

#hideTicketButton {
  position: absolute;
  right: 1rem;
  width: 2rem;
  height: 1.8rem;
  opacity: 0;
}

.ticket:hover #hideTicketButton {
  opacity: 1;
}

#done-button {
  position: absolute;
  left: 0.6rem;
  margin-top: -0.3rem;
  width: 1.6rem;
  opacity: 0;
}

.ticket:hover #done-button {
  opacity: 0.8;
}

#creationTime {
  padding-top: 0.5rem;
}

.done {
  /* background-color: rgb(167, 164, 164); */
  opacity: 0.3;
}
